.arrière_plan {
	background-color: #2AABF2;
	height: 100%;
	right: 100%;
	width: 100%;
	background-size: 100%;
}
.fonds {
	height: 500px;
	right: 580px;
	background-color: #6484d8;
	border-radius: 10px;
	width: 30%;
	border: 5px;
}